@import url('https://fonts.googleapis.com/css?family=Roboto:700');

.body {
  font-family:'Roboto'; 
	display: grid;
	place-items: center;

	--bkg: #5eb3fd;
	--white: #e7e6e6;

	background-color: var(--white);
	background-image: url("https://www.transparenttextures.com/patterns/concrete-wall.png");
}
.p {
  text-shadow: 0 0 7px rgba(255,255,255,.3), 0 0 3px rgba(255,255,255,.3);
}
.container {
  color: black;
  font-size: 2.26rem;
  text-transform: uppercase;
  height: 89.5vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.animation {
  height:50px;
  overflow:hidden;
  margin-left: 1rem;
}

.animation > div > div {
  padding: 0.25rem 0.75rem;
  height:2.81rem;
  margin-bottom: 2.81rem;
  display:inline-block;
}

.animation div:first-child {
  animation: text-animation 8s infinite;
}

.first div {
  background-color:#20a7d8;
}
.second div {
  background-color:#CD921E;
}

@keyframes text-animation {
  0% {margin-top: 0;}
  10% {margin-top: 0;}
  40% {margin-top: -5.25rem;}
  70% {margin-top: -5.25rem;}
  90% {margin-top: 0;}
  100% {margin-top: 0;}
}
